/WeightTrack/bin
/WeightTrack/obj
/WeightTrack/*.db-wal
/WeightTrack/*.user
/WeightTrack/*.db
/WeightTrack/*.db-shm
/.vs/WeightTrack
/.vs/ProjectEvaluation
/WeightTracker.IntegrationTests/bin/Debug/net6.0
/WeightTracker.IntegrationTests/obj
